 
.NavBar{
    width: 90%;
    height: 100px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 30px;
     font-family: Arial, Helvetica, sans-serif;
    list-style: none;

    /* Glassmorphism */
    background: rgb(174, 140, 210,0.05);
    backdrop-filter: blur(18px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    box-shadow:
    0 8px 32px rgba(128, 0, 255, 0.15),
    inset 0 0 10px rgba(255,255,255,0.05);

    position: relative;
    overflow: hidden;
}

/* Glow effect */
.NavBar::before{
    content: "";
    position: absolute;
    background: rgba(168, 85, 247, 0.2);
    border-radius: 50%;
    filter: blur(80px);
    top: -80px;
    left: -50px;
    z-index: -1;
}

.navbar-logo{
    width: 100px;
    object-fit: contain; /* L’image :se réduit,
mais garde sa forme originale. */
background: none;
}

.NavBar li{
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    transition: 0.3s ease;
    background: none;
}

/* Hover effect */
.NavBar li:hover{
    color: #f2f0f4;
    background-color: #c084fc;
    padding: 5px;
    border-radius: 4px;
}

/* Animated underline */
.NavBar li::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0%;
    height: 2px;
    
    background: linear-gradient(
        to right,
        #c084fc,
        #7c3aed
    );

    transition: 0.3s ease;
}

.NavBarli:hover::after{
    width: 100%;
}

.Navbar-btn{
    padding: 12px 24px;

    border: none;
    border-radius: 14px;

    background: linear-gradient(
        to right,
        #a855f7,
        #7c3aed
    );

    color: white;

    font-size: 15px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.3s ease;

    box-shadow:
    0 0 10px rgba(168, 85, 247, 0.5);
}

/* Button hover */
.Navbar-btn:hover{
    transform: translateY(-2px) scale(1.03);
    box-shadow:
    0 0 15px rgba(168, 85, 247, 0.8);
}